<div class="container-fluid p-5">
  <h1 class="mb-4">Tus Inscripciones</h1>

  @if (currentUser) {
    <div class="row justify-content-center">
      @for (category of currentUser.studentCategories; track $index) {
        <div
          class="col-12 col-md-6 d-flex justify-content-center mb-4 text-light"
          style="max-width: 45%;"
        >
          <div
            class="card shadow-sm border-0 h-100"
            style="width: 100%; cursor: pointer; transition: transform 0.2s; background-color: rgb(2, 2, 197);"
            (click)="openModal(category)"
            onmouseover="this.style.transform='scale(1.02)'"
            onmouseout="this.style.transform='scale(1)'"
          >
            <img
              src="https://via.placeholder.com/286x180"
              class="card-img-top rounded-top"
              alt="Imagen categoría"
            />
            <div class="card-body">
              <h5 class="card-title mb-1">{{ category.disciplineName }}</h5>
              <h6 class="card-subtitle text-muted">{{ category.name }}</h6>
            </div>
          </div>
        </div>
      }
    </div>
  }

  <app-category-dto-form
    [category]="selectedCategory!"
    [show]="showModal"
    (close)="closeModal()"
  />
</div>
