<!-- Elimina el div modal exterior y deja solo el contenido -->
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitUpdatedKeycloakUser()">
    <div class="row">
      <!-- Columna izquierda -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" formControlName="firstName" class="form-control" />
            <div *ngIf="getFormControl('firstName')?.invalid && (getFormControl('firstName')?.dirty || getFormControl('firstName')?.touched)" class="text-danger">
              <small *ngIf="getFormControl('firstName')?.errors?.['required']">El nombre es requerido</small>
              <small *ngIf="getFormControl('firstName')?.errors?.['maxlength']">El nombre no puede exceder los 100 caracteres</small>
            </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" readonly="readonly" style="background-color: rgb(177, 177, 177);"/>          
            <div *ngIf="getFormControl('email')?.invalid && (getFormControl('email')?.dirty || getFormControl('email')?.touched)" class="text-danger">
              <small *ngIf="getFormControl('email')?.errors?.['required']">El email es requerido</small>
            </div>            
        </div>

        <div class="mb-3">
          <label class="form-label">Fecha de nacimiento</label>
          <input type="date" formControlName="birthDate" class="form-control" />
            <div *ngIf="getFormControl('birthDate')?.invalid && (getFormControl('birthDate')?.dirty || getFormControl('birthDate')?.touched)" class="text-danger">
              <small *ngIf="getFormControl('birthDate')?.errors?.['required']">La fecha de nacimiento es requerida</small>
            </div>          
        </div>
      </div>

      <!-- Columna derecha -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Apellido</label>
          <input type="text" formControlName="lastName" class="form-control" />
            <div *ngIf="getFormControl('lastName')?.invalid && (getFormControl('lastName')?.dirty || getFormControl('lastName')?.touched)" class="text-danger">
              <small *ngIf="getFormControl('lastName')?.errors?.['required']">El apellido es requerido</small>
              <small *ngIf="getFormControl('lastName')?.errors?.['maxlength']">El apellido no puede exceder los 100 caracteres</small>
            </div>
        </div>                

        <div class="mb-3">
          <label class="form-label">Género</label>
          <select formControlName="genre" class="form-select">
            <option *ngFor="let g of genres" [value]="g.value">{{ g.label }}</option>
          </select>
            <div *ngIf="getFormControl('genre')?.invalid && (getFormControl('genre')?.dirty || getFormControl('genre')?.touched)" class="text-danger">
              <small *ngIf="getFormControl('genre')?.errors?.['required']">El género es requerido</small>
            </div>               
        </div>

        <div class="mb-3">
          <label class="form-label">Rol</label>
          <select formControlName="role" class="form-select">
            <option *ngFor="let r of roles" [value]="r.value">{{ r.label }}</option>
          </select>
            <div *ngIf="getFormControl('role')?.invalid && (getFormControl('role')?.dirty || getFormControl('role')?.touched)" class="text-danger">
              <small *ngIf="getFormControl('role')?.errors?.['required']">El rol es requerido</small>
            </div>                
        </div>
      </div>
    </div>             
    
    <div class="d-flex justify-content-end mt-3">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Actualizar Usuario</button>
    </div>
  </form>
</div>