<div class="modal fade show d-block custom-modal" tabindex="-1" role="dialog" *ngIf="show">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content border-0 shadow-lg">

        <div class="modal-header bg-primary-blue text-white">
            <h5 class="modal-title fw-bold">{{ category.disciplineName }} {{ category.name }}</h5>
            <button type="button" class="btn-close btn-close-white" (click)="onClose()" aria-label="Close"></button>
        </div>
                
        <div class="row modal-body bg-light-blue">
            <div class="col-md-6 border-end border-secondary-blue">
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-info-circle-fill text-primary-blue me-2"></i>
                    <h6 class="mb-0 fw-bold text-primary-blue">Información de la categoría</h6>
                </div>
                
                <p class="d-flex mb-2 text-primary-blue fw-medium me-2 flex-shrink-0 p-2 border border-0 rounded" style="background-color: rgb(217, 217, 217);">
                    {{ category.description }}
                </p>
                
                <p class="d-flex mb-2 p-2">
                    <span class="text-primary-blue fw-medium me-2 flex-shrink-0">Costo mensual - </span>
                    <span>${{ category.monthlyFee }}</span>
                </p>
                
                <p class="d-flex mb-2 p-2">
                    <span class="text-primary-blue fw-medium me-2 flex-shrink-0">Género permitido - </span>
                    <span>{{ translateAllowedGenre(category.allowedGenre) }}</span>
                </p>
                
                <p class="d-flex mb-2 p-2">
                    <span class="text-primary-blue fw-medium me-2 flex-shrink-0">Rango de edad - </span>
                    <span>{{ category.ageRange.minAge }} a {{ category.ageRange.maxAge }} años</span>
                </p>
                
                @if (category.availableSpaces > 0) {
                    <p class="d-flex p-2">
                        <span class="text-primary-blue fw-medium me-2 flex-shrink-0">Vacantes totales - </span>
                        <span>{{ category.availableSpaces }}</span>
                    </p>

                    @if (category.remainingSpaces != null) {
                        <p class="d-flex p-2">
                            <span class="text-primary-blue fw-medium me-2 flex-shrink-0">Vacantes disponibles - </span>
                            <span>{{ category.remainingSpaces }}</span>
                        </p>
                    }
                }
                @else {
                    <p class="d-flex p-2">
                        <span class="text-primary-blue fw-medium me-2 flex-shrink-0">Vacantes disponibles - </span>
                        <span>Ilimitadas</span>
                    </p>
                }
            </div>

            <div class="col-md-6 ps-4">
                <div class="d-flex align-items-center mb-3">
                    <i class="bi bi-clock-fill text-primary-blue me-2"></i>
                    <h6 class="mb-0 fw-bold text-primary-blue">Horarios</h6>
                </div>
                
                <ul class="schedule-list">
                    <li *ngFor="let line of getFormattedSchedules(category)" class="d-flex mb-2">
                        <span class="bullet-point bg-primary-blue flex-shrink-0"></span>
                        <span class="ms-2" style="white-space: pre-line">{{ line }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-footer bg-secondary-blue">
            <button type="button" class="btn btn-danger" (click)="deleteInscription()"><i class="bi bi-person-dash me-2"></i>Desinscribirse</button>
            <button type="button" class="btn btn-close-modal" (click)="onClose()">
                Cerrar
            </button>
        </div>

    </div>
  </div>
</div>
